* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  font-family: sans-serif;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://i.imgur.com/RKfAwku.jpg');
}

h1 {
  color: whitesmoke;
  font-size: 64px;
  text-align: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition-duration: .5s;
 
}

main {
  display: grid;
  grid-template-columns: repeat(4, 15vmin);
  grid-template-rows: repeat(4, 15vmin);
  gap: 2vmin;
  margin-top: 2vmin;
  perspective: 1000px;
  
}

img.flip {
  transform: rotateY(180deg); 
}
